@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter-Regular';
  src: url('../src/assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url('../src/assets/fonts/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Italic';
  src: url('../src/assets/fonts/Inter_18pt-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Black';
  src: url('../src/assets/fonts/Inter_18pt-Black.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  margin: 0;
  padding: 0;
  @apply text-white;
  overscroll-behavior: none;
  font-family: 'Inter-Regular', sans-serif;
}

html,
body,
#root {
  height: 100dvh;
  width: 100dvw;
  @apply bg-black;
}

::-webkit-scrollbar {
  width: 0;
}

input,
textarea {
  outline: none !important;
}

button:active {
  opacity: 0.5;
}